name: Package Application with Pyinstaller

on: [push, pull_request]

jobs:
  build:
    name: Binary for windows
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup python 3.8
      uses: actions/setup-python@v4
      with:
        python-version: 3.8
    - name: Build executable with pyinstaller
      run: |
        python -m pip install --upgrade pip
        pip install .
        pip install pyinstaller pywin32-ctypes
        pyinstaller pbincli.spec
    - uses: actions/upload-artifact@v3
      with:
        name: pbincli-windows
        path: dist/*
